/* Блокировка масштабирования */
body {
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

/* Разрешаем выделение в полях ввода */
input, textarea {
    -webkit-user-select: text;
    user-select: text;
}

/* Предотвращение bounce-эффекта на iOS */
html, body {
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
